<%-include('../admin/layout/admin-header-layout.ejs') -%>
<div class="col-lg">
  <div class="card">
    <div class="card-body">
      <div class="card-title">Edit Product</div>
      <hr />
      <form
        action="/admin/updateProduct/<%= product._id %>"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="input-4">Product Name</label>
          <input
            class="form-control"
            id="input-4"
            type="text"
            placeholder="Product Name"
            value="<%= product.productName %>"
            required
            name="productName"
          />
        </div>

        <div class="form-group">
          <label for="input-5">Description</label>
          <input
            class="form-control"
            id="input-5"
            type="text"
            placeholder="Description"
            value="<%= product.description %>"
            required
            name="description"
          />
        </div>

        <div class="form-group">
          <label for="input-5">Price</label>
          <input
            class="form-control"
            id="input-5"
            type="tel"
            placeholder="Price"
            value="<%= product.price %>"
            required
            name="price"
          />
        </div>

        <div class="form-group">
          <label for="input-5">Size</label>
          <input
            class="form-control"
            id="input-5"
            type="tel"
            placeholder="Size"
            value="<%= product.size %>"
            required
            name="size"
          />
        </div>

        <div class="form-group">
          <label for="input-5">Category</label>
          <select class="group input-group form-control" name="category" id="">
            <option value="" selected>Select Category</option>
            <% category.forEach(function(x){ %>
            <option value="<%= x._id %>"><%= x.category %></option>
            <% }) %>
          </select>
        </div>

        <div class="form-group">
          <img
            src="/images/Cardigans/<%= product.image %>"
            alt=""
            style="height: 50px; width: 60px"
          />
        </div>

        <div class="form-group">
          <label for="input-5">Image</label>
          <input
            type="file"
            class="form-control"
            multiple
            id="input-5"
            name="image"
            required
            placeholder="Choose an image"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success px-5">
            Update Product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<%-include('../admin/layout/admin-footer-layout.ejs') -%>
