<%-include('../user/layout/user-header-layout.ejs') -%>
    <div class="container">
        <div class="row" style="margin-bottom: 50px;">
            <form id="place-order" novalidate="novalidate">
                <div class="col-md-8 mb-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h3 class="mb-0" style="text-transform: uppercase;color: #6a6666;">Select a delivery address
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Your addresses</strong>
                                    </div>
                                </li>
                                <% if (adressExist==0) { %>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        <div class="form-check">
                                            <p>Please click the add address button to add your delivery address</p>
                                        </div>
                                    </li>
                                    <% } else { %>
                                        <% address.forEach(function(x,index){ %>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                <div class="form-check">
                                                    <% if(index==0){ %>
                                                        <input type="radio" class="addressSelector" name="address"
                                                            checked id="<%=index%>" value="" />
                                                        <% }else{ %>
                                                            <input type="radio" class="addressSelector" name="address"
                                                                value="<%=index%>" id="<%=index%>" />
                                                            <% } %>
                                                                <strong>
                                                                    <p>
                                                                        <%= x.fullName %>,
                                                                            <%= x.email %> ,
                                                                                <%= x.address %>,
                                                                                    <%= x.city %>,
                                                                                        <%= x.state %>,
                                                                                            <%= x.pincode %>,
                                                                                                <%= x.country %>,
                                                                                                    <%= x.phone %>
                                                                    </p>
                                                                </strong>
                                                </div>
                                            </li>
                                            <% }) %>
                                                <% }%>
                                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                                                        style="background-color: #efefef">
                                                        <div class="form-check">
                                                            <p></p>
                                                        </div>
                                                    </li>
                            </ul>
                            <a href="/addAddress" type="button" class="btn btn-primary btn-lg btn-block">Add Address</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h3 class="mb-0" style="text-transform: uppercase;color: #6a6666;">
                                Summary</h3>
                        </div>
                        <div class="card-body">

                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <% if ( cartTotal.subTotal==0) { %>
                                        <span><strong>RS: <%= cartTotal.total %>
                                            </strong></span>
                                        <% } else { %>
                                            <span><strong>RS: <%= cartTotal.subTotal %>
                                                </strong></span>
                                            <% } %>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="paymentMethod" id="paynow"
                                            value="Razorpay">
                                        <label class="form-check-label" for="paynow">
                                            Razorpay
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="paymentMethod" id="cod"
                                            value="cod" checked>
                                        <label class="form-check-label" for="cod">
                                            Cash on delivery
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Place Order
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%-include('../user/layout/user-footer-layout.ejs') %>
    <!-- <script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
    </script> -->

        <script>

            $("#place-order").submit((e) => {
                var orderId;
                e.preventDefault()
                $.ajax({
                    url: '/user_order',
                    method: 'post',
                    data: $('#place-order').serialize(),
                    success: (response) => {
                        if (response.codSuccess) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Order Success',
                                customClass: 'swal-wide',
                                showConfirmButton: false,
                                timer: 1000
                            })
                                .then((result) => {
                                    location.href = '/order_success'
                                })
                        } else {
                            if (response.order == null) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Connection Failed',
                                    text: 'Please Check the Internet Connection!',
                                    customClass: 'swal-wide',
                                })
                            } else {
                                orderId=response.orderId._id
                                razorpayPayment(response)
                            }
                        }
                    }
                })

            })

            function razorpayPayment(Payment) {
                var options = {
                    "key": "rzp_test_JNLKfIjgS0l3it", // Enter the Key ID generated from the Dashboard
                    "amount": Payment.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Sole ",
                    "description": "Complete Your Transaction",
                    "image": "",
                    "order_id": Payment.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    handler: function (response,) {
                        userId=response.order_id
                        console.log(response, 'ajnas');
                        verifyPayment(response, Payment.order)
                    },
                    "prefill": {
                        "name": Payment.user.name,
                        "email": "sufiyanemcalicut@gmail.com",
                        "contact": Payment.user.phone
                    },
                    "notes": {
                        "address": "Home Sole Choose your electric Best for Home"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on("payment.failed", function (response) {
                    paymentFailed(response,Payment);
                });
                rzp1.open();
            }

            function paymentFailed(response,order) {
                $.ajax({
                    url: "/paymentFailed",
                    data: {
                        response,
                        order
                    },
                    method: "post",
                    success: (response) => {
                        if (response.status) {
                            Swal.fire({
                                title: "Payment Failed !",
                                icon: "error",
                                showDenyButton: false,
                                toast: true,
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                    location.href = "/";
                                } else if (result.isDenied) {
                                    location.href = "/";
                                }
                            });
                        }
                    },
                });
            }

            function verifyPayment(payment, order) {
                $.ajax({
                    url: '/verify_payment',
                    data: {
                        payment: payment,
                        orders: order
                    },
                    method: 'post',
                    success: (response) => {
                        if (response.status) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Payment Success',
                                showConfirmButton: false,
                                customClass: 'swal-wide',
                                timer: 1000
                            }).then((result) => {
                                location.href = '/order_success'
                            })
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Payment Failed',
                                showConfirmButton: false,
                                customClass: 'swal-wide',
                                timer: 1000
                            }).then((result) => {
                                location.href = '/'

                            })
                        }
                    }
                })
            }
        </script>