<%- include('../user/layout/user-header-layout.ejs') -%>

<div class="content-wrapper">
  <div class="container-fluid" style="background-color: rgb(225, 225, 225)">
    <div class="row mt-3">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body" style="padding-left: 524px">
            <br />
            <br />
            <form action="/updateProfile/<%= profile._id %>" method="post">
              <div class="form-group">
                <label for="input-1">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  name="firstName"
                  id="input-1"
                  value="<%= profile.firstName %>"
                  placeholder="Enter Your First Name"
                />
              </div>
              <div class="form-group">
                <label for="input-1">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  name="lastName"
                  id="input-1"
                  value="<%= profile.lastName %>"
                  placeholder="Enter Your Last Name"
                />
              </div>
              <div class="form-group">
                <label for="input-2">Email</label>
                <input
                  type="email"
                  name="email"
                  required
                  value="<%= profile.email %>"
                  class="form-control"
                  id="input-2"
                  placeholder="Enter Your Email Address"
                />
              </div>
              <div class="form-group">
                <label for="input-3">Mobile</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  value="<%= profile.phone %>"
                  name="phone"
                  id="input-3"
                  placeholder="Enter Your Mobile Number"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-light px-5">
                  Edit Profile
                </button>
              </div>
              <br />
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--End Row-->
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
  </div>
  <!-- End container-fluid-->
</div>

<%- include('../user/layout/user-footer-layout.ejs') -%>
